
<div>
  <div class="file is-pulled-right">
    <%= form_with model: @user, url: user_path(current_user), method: :patch do |form| %>
      <%= form.submit 'Post', class: 'button is-success' %>
      <div class="file-cta">
        <%= form.file_field :images, multiple: true, accept: 'image/*' %>
      </div>
    <% end %>
  </div>
</div>
